NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
PAYSTACK_SECRET_KEY=
NEXT_PUBLIC_APP_URL=
EMAIL_WEBHOOK_URL=
INTERNAL_JOB_SECRET=
API_KEY_PEPPER=
# COURIER_<PROVIDER>_WEBHOOK_SECRET=
